Options -MultiViews
RewriteEngine On
RewriteBase /projects/synorva/slides/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data: blob: https://img.shields.io https://cdn.jsdelivr.net; font-src 'self' https://fonts.gstatic.com;"
